   
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="../../assets/images/buid.jpeg">  
                 
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/images/hall.jpeg">  
                
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/images/buid.jpeg">  
                
            </ng-template>  
            
        </ngb-carousel>  
   