1RK
<div *ngFor="let item of data" class="row sectionimage">
            
   
        <div class="col-md-4">
            <app-carousel></app-carousel> 
        </div>
        <div class="col-md-8">
            <table class="table table-bordered">
                <tr>
                    <th>{{item.sqft}}
                        <p>Buildup</p>
                    </th>
                    <th>{{item.deposite}}
                        <p>Deposite</p>
                    </th>
                    <th>{{item.rent}}
                        <p>Rent(Negotiable)</p>
                    </th>
                </tr>
    
            </table>
            <hr>
            <table class="table table-bordered tablerow">
                <tr>
                    <th>{{item.furnish}}
    
                    </th>
                    <th>{{item.construct}}
    
                    </th>
                </tr>
            </table>
            <button class="btn btn-danger">Get Owner Details</button>
            <button class="btn btn-info">Send SMS</button>
            <button class="btn btn-info">Send Email</button>
            <i class="fa fa-trash faicon"></i>
            <i class="fa fa-edit"></i>
        </div>
    </div>