<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h4>Apartment Type</h4>
            <br>
            <br>
            <div class="row">
<div class="col-md-3">
        <a routerLink="/dashboard/property/1RK" class="btn btn-info">1RK</a>

</div>
<div class="col-md-3">
        <a routerLink="/dashboard/property/1BHK" class="btn btn-info">1BHK</a>

    </div>
    <div class="col-md-3">
            <a routerLink="/dashboard/property/2BHK" class="btn btn-info">2BHK</a>

        </div>
        <div class="col-md-3">
                <a routerLink="/dashboard/property/3BHK" class="btn btn-info">3BHK</a>

            </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h4>Rent Range (per month)</h4>
                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-md-12">
                    <input type="range" class="custom-range">
                </div>
            </div>
            <form action="#">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                    Rs.<input type="text" value="0">                            </div>
                            <div class="col-md-6">
                                    Rs.<input type="text" value="Rs 50,000.00">                            </div>
                        </div>


                    </div>
                   

                </div>


            </form>
        </div> 
    </div>
    
    <!-- <table class="table table-bordered tablerow">
        <tr>
            <th>
                Apartment Type
                <br>
                <br>
                <button  (click)="onTechClick">1RK</button>
                {{sqft}}
                <button>1BHK</button>
                <button>2BHK</button>
                <button>3BHK</button>
                <button>4BHK</button>
            </th>
            <th>
                Rent Range (per month)
                <br>
                <br>
                <form action="#">
                    <input type="range" class="custom-range">
                    <img src="assets/images/rupee-indian.png">
                    <input type="text" value="0.00">
                    <img src="assets/images/rupee-indian.png"><input type="text" value="Rs 50,000.00">
                </form>
            </th>
        </tr>
    </table> -->

</div>
<div class="row">
<div class="col-md-2">
        <input type="checkbox"> Select All

</div>
<div class="col-md-4">
        <i class="fa fa-trash"></i>
    </div>
</div>
    
    
<div class="container">
        <div class="row">
                <router-outlet></router-outlet>
        </div>
</div>

