<div class="row">
    <table class="table table-bordered tablerow">
        <tr>
            <th>
                Apartment Type
                <br>
                <br>
                <button  (click)="onTechClick">1RK</button>
                {{sqft}}
                <button>1BHK</button>
                <button>2BHK</button>
                <button>3BHK</button>
                <button>4BHK</button>
            </th>
            <th>
                Rent Range (per month)
                <br>
                <br>
                <form action="#">
                    <input type="range" class="custom-range">
                    <img src="assets/images/rupee-indian.png">
                    <input type="text" value="0.00">
                    <img src="assets/images/rupee-indian.png"><input type="text" value="Rs 50,000.00">
                </form>
            </th>
        </tr>
    </table>

</div>