.note
{
    text-align: center;
    height: 80px;
    background: #11557A;
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.note h3{
    text-align: center;
    padding: 20px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #11557A;
    color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #11557A;
}
.faicon{
float: right;
margin-right: 10px;
}