<main>
    <header>
       <div class="container">
          <div class="row">
             <div class="col-md-3 text-center p-3">
                <div class="brand">CRM Dashboard</div>
             </div>
             <div class="col-md-9 theme-blue">
             </div>
          </div>
       </div>
    </header>
    <div class="container">
       <div class="row">
          <div class="col-md-3 theme-blue">
             <div class="nav-side-menu pl-3">
                <i class="fa fa-bars fa-2x toggle-btn"
                   data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                   <ul id="menu-content" class="menu-content
                      collapse out">
                      <li>
                        
                         <i class="fa fa-dashboard fa-lg"></i> Dashboard
                        
                      </li>
                     <li>
                           <i class="fa fa-car
                           fa-lg"></i> <a routerLink="/dashboard/property" routerLinkActive="active" >Property List </a>  
                           
                     </li> 
                     <li>
                           <i class="fa fa-car
                            fa-lg"></i><a routerLink="/dashboard/client">  Client  
                           </a>
                     </li> 
                      <!-- <ul class="sub-menu collapse" id="products">
                         <li class="active"><a routerlink="#">RFT-H1</a></li>
                         <li> <a routerlink="#">RFT-H2</a></li>
                         <li> <a routerlink="#">BTB-H1</a></li>
                         <li> <a routerlink="#">BTB-H2</a></li>
                      </ul> -->
                      <li data-toggle="collapse"
                         data-target="#service" class="collapsed">
                         <a routerlink="#"><i class="fa fa-globe
                            fa-lg"></i> Trendmonitoring<span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="service">
                         <li>Trendmonitoring</li>
                         <li>Alarmmonitoring</li>
                         <li>Audit-Trail</li>
                      </ul>
                      <li data-toggle="collapse"
                         data-target="#new" class="collapsed">
                         <a routerlink="#"><i class="fa fa-car
                            fa-lg"></i> Reporting <span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="new">
                         <li>Alarmstatistik</li>
                         <li>Prozessfähigkeit</li>
                      </ul>
                      <li>
                        <a routerlink="#">
                         <i class="fa fa-user fa-lg"></i> Profile
                         </a>
                      </li>
                      <li data-toggle="collapse"
                         data-target="#new" class="collapsed">
                         <a routerlink="#"><i class="fa fa-car
                            fa-lg"></i> Service <span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="new">
                         <li>Sensorkonfiguration</li>
                         <li>Betriebsarten</li>
                      </ul>
                   </ul>
                </div>
             </div>
          </div>
          
          
     <div class="col-md-9 bg-white content-data"> <br>
             <router-outlet></router-outlet>
          </div> 
       </div>
    </div>
 </main>