<div class="container register-form">
        <div class="form">
            <div class="note">
                <h3>Add Property Information</h3>
            </div>
            <form>
            <div class="form-content">
                    <h5>Owner Information</h5>
                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone Number *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email *" value=""/>
                        </div>
                    </div>
                </div>


<div class="row">
        <div class="col-md-6">
                       
                <h5>Property Information</h5>                       
      
    </div>
    <div class="col-md-6">
       
                <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="pill" href="#home">On Sell</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="pill" href="#menu1">On Rent</a>
                        </li>
                        
                      </ul>                      
       
    </div>

</div>
                
                
                
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div id="home" class="tab-pane active"><br>
                        <div class="row">
                                <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder=" Sell Address(full) *" value=""/>
                                        </div>
                                       
                                    </div>
                                    
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Address(full) *" value=""/>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Furnished *" value=""/>
                                        </div>
                                        
                                    </div>
                        </div>
                      
                        <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Address(full) *" value=""/>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Furnished *" value=""/>
                                        </div>
                                        
                                    </div>
                        </div>
                      
                        <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Address(full) *" value=""/>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Furnished *" value=""/>
                                        </div>
                                        
                                    </div>
                        </div>
                      
                      
                    </div> 
                    <div id="menu1" class="tab-pane fade"><br>
                        <div class="row">
                                <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder=" Rent Property Address(full) *" value=""/>
                                        </div>
                                       
                                    </div>
                                    
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Address(full) *" value=""/>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Furnished *" value=""/>
                                        </div>
                                        
                                    </div>
                        </div>
                      
                        <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Address(full) *" value=""/>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Furnished *" value=""/>
                                        </div>
                                        
                                    </div>
                        </div>
                      
                        <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Address(full) *" value=""/>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Furnished *" value=""/>
                                        </div>
                                        
                                    </div>
                        </div>
                    </div> 
                   
                  </div>
                 <button type="button" class="btnSubmit">Submit</button>
            </div>
        </form>
        </div>
    </div>